{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block content %}
    <h1>Mon Panier</h1>
    <hr>
    {% if cart|length != 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for item in cart %}
                <tr>
                    <th scope="row">
                        <img src="/uploads/{{ item.product.illustration }}" height="75px" width="75px"
                             alt="{{ item.product.name }}">
                    </th>
                    <td>
                        {{ item.product.name }} <br>
                        <small>{{ item.product.subtitle }}</small>
                    </td>
                    <td>
                        <a href="{{ path('dec_qte_to_cart', {'id':item.product.id}) }}">
                            <img src="{{ asset('assets/img/minus-sign.png') }}" class="cart-icon" alt="no img">
                        </a>
                        <b>x</b> {{ item.quantity }}
                        <a href="{{ path('add_qte_to_cart', {'id':item.product.id}) }}">
                            <img src="{{ asset('assets/img/plus-sign.png') }}" class="cart-icon" alt="no img">
                        </a>
                    </td>
                    <td>{{ ((item.product.price ) / 100)|number_format(2,',','.') }} €</td>
                    <td>{{ ((item.product.price * item.quantity) / 100)|number_format(2,',','.') }} €</td>
                    <td>
                        <a href="{{ path('delete_product_cart', {'id':item.product.id}) }}">
                            <img src="{{ asset('assets/img/delete.png') }}" height="18px" width="18px" alt="no icon">
                    </td>
                    </a>
                </tr>
                {% set total = total + (item.product.price * item.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <b>Nombre de produit</b> : {{ cart|length }} <br>
            <b>Total de mon panier : {{ (total / 100)|number_format(2,',','.') }} €</b> <br>
            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <b>Votre Panier est vide</b>
        <a href="{{ path('products') }}" class="btn btn-success btn-block mt-2">Allez vers produit!</a>
    {% endif %}

{% endblock %}
